.data-page {
  @apply flex flex-col h-full;

  header {
    // z-index: 201;
    position: relative;
  }

  main {
    height: calc(100vh - 55px);
    display: flex;

    .sidebar {
      padding-top: 5px;
      width: 260px;
      @apply h-full bg-white overflow-y-auto;
    }

    section {
      width: calc(100% - 260px);
      @apply flex flex-col overflow-hidden relative;

      .sql-tabs {
        @apply absolute top-0 bottom-0 right-0 left-0;
      }

      .data-list {
        @apply flex-1 z-10 absolute;
      }
    }
  }
}
