[light-theme] {
  --lanis-db-primary-color: rgb(0, 150, 136);
  --lanis-db-primary-hover-color-1: rgba(0, 150, 136, 0.1);
  --lanis-db-primary-hover-color-2: rgba(0, 150, 136, 0.2);
  --lanis-db-primary-hover-color-3: rgba(0, 150, 136, 0.3);
  --lanis-db-primary-hover-color-4: rgba(0, 150, 136, 0.4);
  --lanis-db-primary-hover-color-5: rgba(0, 150, 136, 0.5);
  --lanis-db-primary-hover-color-6: rgba(0, 150, 136, 0.6);
  --lanis-db-primary-hover-color-7: rgba(0, 150, 136, 0.7);
  --lanis-db-primary-hover-color-8: rgba(0, 150, 136, 0.8);
  --lanis-db-primary-hover-color-9: rgba(0, 150, 136, 0.9);
  --lanis-db-primary-hover-color: rgba(0, 150, 136, 1);

  --success-color-6-normal: var(--green-dark-6);

  --lanis-db-stroke-color-primary: var(--gray-dark-5);
  --lanis-db-stroke-color-secondary: var(--gray-dark-4);

  --lanis-db-bg-color-tool-bar: var(--gray-dark-4);
  --lanis-db-bg-color-tab-bar: var(--gray-dark-1);
  --lanis-db-bg-color-tabs-active: var(--gray-dark-4);
  --lanis-db-bg-color-navigation-hover: var(--gray-dark-5);
  --lanis-db-bg-color-secondarybutton-hover: var(--gray-dark-5);
  --lanis-db-bg-color-tab-bar: var(--gray-dark-1);
  --lanis-db-bg-color-dropdown: var(--gray-dark-3);
  --lanis-db-bg-color-dropdown-hover: var(--gray-dark-5);

  --lanis-db-text-color-primary: var(--white-2);
  --lanis-db-text-color-secondary: var(--white-3);
  --lanis-db-text-color-disabled: var(--white-5);
  --lanis-db-text-color-placeholder: var(--white-4);
  --lanis-db-text-color-dropdown: var(--text-color-secondary);
  --lanis-db-text-color-dropdown-warning: var(--red-dark-6);

  --lanis-db-border-color: var(--gray-dark-6);

  --lanis-db-brand-color-6-normal: var(--blue-dark-6);

  --lanis-db-shadow-small: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  --lanis-db-shadow-medium: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.12),
    0px 3px 14px 2px rgba(0, 0, 0, 0.06);
  --lanis-db-shadow-large: 0px 12px 20px 2px rgba(0, 0, 0, 0.12), 0px 16px 24px 0px rgba(0, 0, 0, 0.08),
    0px 4px 12px 4px rgba(0, 0, 0, 0.08);

  --warning-color-10: var(--orange-dark-10);
  --warning-color-9: var(--orange-dark-9);
  --warning-color-8: var(--orange-dark-8);
  --warning-color-7-click: var(--orange-dark-7);
  --warning-color-6-normal: var(--orange-dark-6);
  --warning-color-5-hover: var(--orange-dark-5);
  --warning-color-4: var(--orange-dark-4);
  --warning-color-3: var(--orange-dark-3);
  --warning-color-2-disabled: var(--orange-dark-2);
  --warning-color-1: var(--orange-dark-1);
  --error-color-10: var(--red-dark-10);
  --error-color-9: var(--red-dark-9);
  --error-color-8: var(--red-dark-8);
  --error-color-7-click: var(--red-dark-7);
  --error-color-6-normal: var(--red-dark-6);
  --error-color-5-hover: var(--red-dark-5);
  --error-color-4: var(--red-dark-4);
  --error-color-3: var(--red-dark-3);
  --error-color-2-disabled: var(--red-dark-2);
  --error-color-1: var(--red-dark-1);
  --success-color-10: var(--green-dark-10);
  --success-color-9: var(--green-dark-9);
  --success-color-8: var(--green-dark-8);
  --success-color-7-click: var(--green-dark-7);
  --success-color-6-normal: var(--green-dark-6);
  --success-color-5-hover: var(--green-dark-5);
  --success-color-4: var(--green-dark-4);
  --success-color-3: var(--green-dark-3);
  --success-color-2-disabled: var(--green-dark-2);
  --success-color-1: var(--green-dark-1);
}
