@import 'tabulator-tables';
@import './theme/variables.css';
@import './theme/dark.less';
@import './theme/light.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: 14px;
  background-color: #f3f4f6;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.titlebar {
  height: 30px;
  background: #329ea3;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.titlebar-button:hover {
  background: #5bbec3;
}

.ant-popover {
  font-size: 12px !important;
}

.ant-tree-node-content-wrapper {
  user-select: none;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  /* 滚动条上的滚动滑块 */
  outline: none;
  border-radius: 2px;
  background-color: #e5e7eb;
}

::-webkit-scrollbar-track-piece {
  /* 滚动条没有滑块的轨道部分 */
  background-color: #fff;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 2px;
}

.spin {
  animation: spin 0.6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
  to {
    transform: rotateZ(0);
  }
  from {
    transform: rotateZ(360deg);
  }
}
